{% extends 'base.html' %}

{% block content %}

    <p>
    GoalTracker is a web app that allows you to track your progress in fighting your bad habits.<br>

    Add habit that you want to quit with and the app will track your progress and duration of abstinence.
    Milestones will be set automatically to keep you motivated.
    </p>

    <p>Functionalities:</p>

    <p>
        When logged out you can reset your password using your email. <b>- Temporarily turned off</b><br>
        Chose link <i>My profile</i> to view and/or update your Username and Email.<br>
        Chose link <i>My habits</i> to view list of all habits added by you and time of abstynence.<br>
    </p>
    <ul>From this view you can also:<br>
        <li>Add new habit</li>
        <li>Update existing habit</li>
        <li>Chagen name and description of your habit</li>
        <li>Reset you habit - change the time of the last occurrance</li>
        <li>See achieved and current milestone</li>
        <li>Delete habit.</li>
    </ul>

    <p>Additional features and improvements are under development. Any suggestions are most welcome.</p>

{% endblock %}