{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <p>
            GoalTracker is a web app that allows you to track your progress in fighting your bad habits.<br>

            Add habit that you want to quit with and the app will track your progress and duration of abstinence.
            Milestones will be set automatically to keep you motivated.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Functionalities:</p>
            <p>
                When logged out you can reset your password using your email.<br>
                Chose link <i>My profile</i> to view and/or update your Username and Email.<br>
                Chose link <i>My habits</i> to view list of all habits added by you and time of abstynence.<br>
            </p>
            <ul class="list-group list-group-flush">From this view you can also:<br>
                <li class="list-group-item">Add new habit</li>
                <li class="list-group-item">Update existing habit</li>
                <li class="list-group-item">Chagen name and description of your habit</li>
                <li class="list-group-item">Reset you habit - change the time of the last occurrance</li>
                <li class="list-group-item">See achieved and current milestone</li>
                <li class="list-group-item">Delete habit.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Additional features and improvements are under development. Any suggestions are most welcome.</p>
        </div>
    </div>

{% endblock %}
