{% extends 'base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Details of your habit:</legend>
        {{ form.as_p }}
    </fieldset>
    <fieldset>
        <legend>Time of abstynence:</legend>
        {{ form.instance.get_abstynance_time }}
        <button><a href="#">Reset time</a></button>
    </fieldset>
    <fieldset>
        <legend>Actions:</legend>
        <button type="submit">Save changes</button>
        <button><a href="{% url 'habits:list' %}">Cancel</a></button>
        <button><a href="#">Delete</a></button>
    </fieldset>
</form>

{% endblock %}
