{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Password reset feature is temporarily turned off.</h2>
            <p>Due to Google's policy change that no longer supports the use of third-party apps, this feature is temporarily unavailable.</p>
        </div>
<!--        <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            <fieldset>-->
<!--                <legend>Reset password</legend>-->
<!--                {{ form }}-->
<!--            </fieldset>-->
<!--            <div>-->
<!--                <button type="submit">Reset password</button>-->
<!--            </div>-->
<!--        </form>-->
    </div>
{% endblock content %}