{% extends 'base.html' %}

{% block content %}

<div class="d-flex py-4">
    <div class="m-auto p-3 rounded-3 bg-light">
        <h1 class="h3 mb-3 fw-normal">Password reset feature is temporarily turned off.</h1>
        <p>Due to Google's policy change that no longer supports the use of third-party apps, this feature is temporarily unavailable.</p>
        <p>If you need to resset your password, please conntact the administrator.</p>
    </div>
<!--        <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            <fieldset>-->
<!--                <legend>Reset password</legend>-->
<!--                {{ form }}-->
<!--            </fieldset>-->
<!--            <div>-->
<!--                <button type="submit">Reset password</button>-->
<!--            </div>-->
<!--        </form>-->
</div>

{% endblock content %}