{% extends 'base.html' %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Register</legend>
                {{ form }}
            </fieldset>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <div>
            <small>
                Do you already have an account?
                <a href="{% url 'login' %}">Login</a>
            </small>
        </div>
    </div>
{% endblock content %}