{% extends 'base.html' %}

{% block content %}
    <div>
      <div>
        <div>
          <h2>{{ user.username }}</h2>
          <p>{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Twój profil</legend>
                {{ form }}
            </fieldset>
            <div>
                <button type="submit">Edytuj</button>
            </div>
      </form>
    </div>
{% endblock content %}