{% extends 'body.html' %}
{% block content %}
                <h4 class="py-3">Add the habit you want to break with</h4>
                <form method="post" action="{% url 'habits:create' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <fieldset class="pt-3">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="reset" class="btn btn-outline-secondary">Clear</button>
                        <a href="{% url 'habits:list' %}" class="btn btn-secondary">Cancel</a>
                    </fieldset>
                </form>
{% endblock %}
