{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <form action="{% url 'habits:create' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Add the habit you want to break with</legend>
                    {{ form.as_p }}
                </fieldset>
                <fieldset>
                    <button type="submit">Add</button>
                    <button type="reset">Clear</button>
                    <button><a href="{% url 'habits:list' %}">Cancel</a></button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
