{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Remove habit</legend>
                    <h5>Are you sure you want to remove habit {{ object.name }}?</h5>
                    <button type="submit">Delete</button>
                    <button><a href="{% url 'habits:update' object.pk %}">Cancel</a></button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
