{% extends 'body.html' %}
{% block content %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 class="py-3">Time of abstynence:</h4>
                    <p>{{ form.instance.get_abstynance_time }}</p>
                    <h4 class="py-3">Set new start date</h4>
                    {{ form.as_p }}
                    <small>Note that all your achieved milestones will be reset as well.</small>
                    <fieldset class="pt-3">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <a href="{% url 'habits:list' %}" class="btn btn-secondary">Cancel</a>
                    </fieldset>
                </form>
{% endblock content %}
