{% extends 'body.html' %}
{% block content %}
                <form method="post" enctype="multipart/form-data">
                    <h4 class="py-3">Details of your habit:</h4>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <h4 class="py-3">Time of abstynence:</h4>
                    <p>{{ form.instance.get_abstynance_time }}</p>
                    <a href="{% url 'habits:reset' form.instance.pk %}" class="btn btn-warning">Reset time</a>
                    <h4 class="py-3">Your milestones:</h4>
                    <dl>
                        <dt>Achieved:</dt>
                        {% for m in form.instance.get_all_achieved_milestones %}
                            <dd>{{ m }}</dd>
                        {% endfor %}
                        <dt>Current goal:</dt>
                        {{ form.instance.get_current_milestone }}
                    </dl>
                    <fieldset class="pt-3">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <a href="{% url 'habits:list' %}" class="btn btn-secondary">Cancel</a>
                        <a href="{% url 'habits:delete' form.instance.pk %}" class="btn btn-danger">Delete</a>
                    </fieldset>
                </form>
{% endblock content %}
